body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#nav-items {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #313132;
    position: fixed;
    top: 0;
    width: 100%;
}

#nav-items > li {
    float: left;
}

#nav-items > li > a {
    display: block;
    color: #D6D6D6;
    text-align: center;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 12px;
}

#nav-items > li > a:hover {
    color: white;
}

#home {
    background-color: white;
    color: black;
    padding-bottom: 50px;
}

#title-container {
    padding-top: 50px;
    text-align: center;
}

#title {
    font-size: 50px;
    margin-bottom: 0;
}

#title-container > h6 {
    font-size: 25px;
    margin-top: 25px;
    font-weight: lighter;
    margin-bottom: 25px;
}

#image {
    display: flex;
    justify-content: center;
}

#image > img {
    width: 625px;
}

#img-caption > p {
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
}

#tribute-info {
    background-color: black;
}

#tribute-header {
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
}

#tribute-link {
    margin-top: 20px;
    text-align: center;
    margin-bottom: -65px;
}

#tribute-link > a {
    text-decoration: none;
    color: #258CF4;
    font-size: 20px;
}

#tribute-link > a:hover {
    text-decoration: underline;
    color: #258CF4;
    font-size: 20px;
}

#tribute-text-container {
    padding-bottom: 1px;
}

#tribute-text-container > p {
    color: white;
    text-align: left;
    font-size: 35px;
    margin: 100px;
}

#creations-container {
    background-color: white;
}

#creations-header {
    color: black;
    font-size: 50px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#creations-items-container {
    width: 100%;
	margin: 0 auto;	
	display: flex;
}

#creations-item-1 {
    padding: 10px;
	flex: 1;
}

#creations-item-1 > p {
    margin-top: 0;
    text-align: left;
    font-size: 40px;
    margin: 50px;
}

#creations-item-2 {
    background-color: #F9F9F9;
    padding: 10px;
	flex: 1;
}

#creations-item-2 > p {
    margin-top: 0;
    text-align: left;
    font-size: 40px;
    margin: 50px;
    flex: 1
}

@media screen and (max-width: 600px) {
    #nav-items > li {
        float: none;
    }

    #creations-items-container {
        flex-flow: column wrap;
    }
}